body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex-grow: 1;
}

.card{
  height: 14rem;
}

.imgDog{
  width: 260px;
  height: 240px;
}

.imgGeneration{
  width: 600px;
  height: 700px;
}